{{ define "main" }}
  <section class="relative py-16 xl:py-24">
    <div class="container mx-auto px-4">
      <div class="mx-auto xl:max-w-2/3 text-center mb-16">
        {{ with .Title }}
          <h1 class="markdown-title text-4xl xl:text-5xl font-semibold leading-normal mb-6">{{ . | markdownify }}</h1>
        {{ end }}
        {{ with .Description }}
          <p class="text-[#5C5C5C] leading-relaxed text-lg">{{ . }}</p>
        {{ end }}
      </div>

      <div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-6">
        {{ range .RegularPages.ByTitle }}
          <a href="{{ .Permalink }}" class="group flex flex-col gap-4 p-8 rounded-2xl border border-[#EAEAEA] hover:border-primary hover:shadow-xl transition-all duration-300">
            <div class="flex items-center justify-center text-2xl text-primary bg-primary/10 size-14 rounded-2xl group-hover:bg-primary group-hover:text-white transition-colors duration-300">
              <i class="{{ .Params.icon }}"></i>
            </div>
            <h2 class="text-xl font-medium text-[#252525]">{{ .Title }}</h2>
            <p class="text-sm text-[#868686] leading-relaxed grow">{{ .Description }}</p>
            <span class="text-primary text-sm font-medium">Learn More &rarr;</span>
          </a>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
